*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #4979f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272835;
    border: 2rem solid #272835;
    border-top: 4rem solid #272835;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

}

.keys{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.keys .key {
    background-color: white;
    width: 50px;
    border-radius: 0 0 0.5rem 0.5rem ;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
}

 .keys .black{
    background-color: black;
    color: white;
    height:140px;
    width: 35px;
    margin: 0 -18px;
    z-index: 2;
    border-radius: 0 0 0.5rem 0.5rem ;
}
